<div class="row" ng-controller="homeCtrl">
  <div class="col-md-6">
    <div id="gcc_slider" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#gcc_slider" data-slide-to="0" class="active"></li>
        <!--<li data-target="#gcc_slider" data-slide-to="1"></li>-->
        <li data-target="#gcc_slider" data-slide-to="2"></li>
        <li data-target="#gcc_slider" data-slide-to="3"></li>

      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="images/GCC_Team_pic.jpeg" alt="The Gamblers" class="img-responsive img-rounded">
        </div>
        <!--<div class="item ">-->
        <!--<img  src="images/gcc_winning_moment.jpeg" alt="The Gamblers" class="img-responsive img-rounded  ">-->
        <!--</div>-->
        <div class="item ">
          <img src="images/another_gcc_moment.jpg" alt="The Gamblers" class="img-responsive img-rounded">
        </div>
        <div class="item ">
          <img src="images/gcc-team.jpg" alt="The Gamblers" class="img-responsive">
        </div>
      </div>

      <a class="left carousel-control" href="#gcc_slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#gcc_slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
  <aside class="col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading"> Who we are...</div>
      <div class="panel-body"><p>general rule is that the section element is
        appropriate only if the element’s contents would be listed explicitly in the document’s outline
        general rule is that the section element is</p>

        <p>appropriate only if the element’s contents would be listed explicitly in the document’s outline
          general rule is that the section element is</p>

        <p>appropriate only if the element’s contents would be listed explicitly in the document’s outline
          general rule is that the section element is
          appropriate only if the element’s contents would be listed explicitly in the document’s outline</p>
      </div>
    </div>

  </aside>
  <aside class="col-lg-3">
    <div class="panel panel-danger">
      <div class="panel-heading "> @gcccricket</div>
      <div class="panel-body"> general rule is that the section element is
        appropriate only if the element’s contents would be listed explicitly in the document’s outline
      </div>
    </div>
  </aside>
</div>
<div class="row">
  <section class="col-md-8">
    <h2>A little bit about our history...</h2>

    <p> The section element represents a generic document or application section…The section element is not a generic
      container element. When an element is needed only for styling purposes or as a convenience for scripting,
      authors are encouraged to use the div element instead. </p>

    <p> A general rule is that the section element is
      appropriate only if the element’s contents would be listed explicitly in the document’s outline.</p>
  </section>
</div>

