
<div class="row" ng-controller="recordsCtrl" style="margin-left: 2%">

<div class="col-md-10">
  <!--<div class="panel panel-default active">-->
    <!-- Default panel contents -->
    <!--<div class="panel-heading">Panel heading</div>-->
    <!--<div class="panel-body">-->
        <!--<p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla-->
          <!--sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id-->
          <!--dolor id nibh ultricies vehicula ut id elit.</p>-->
    <!--</div>-->

    <!-- List group -->
    <div class="list-group col-lg-4">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Best Batting Score</h4>
        <p class="list-group-item-text">all tournaments</p>
      </a>
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">115</h4>
        <p class="list-group-item-text">Nishant Patel </p>
      </a>
    </div>
    <div class="list-group col-lg-4">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Best Bowling figures</h4>
        <p class="list-group-item-text">all tournaments</p>
      </a>
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">Mayank Ray</h4>
        <p class="list-group-item-text">8-2-14-5</p>
      </a>
    </div>
    <div class="list-group col-lg-4">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Best win margin</h4>
        <p class="list-group-item-text">all tournaments </p>
      </a>
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">Vs RWCC By 103 runs</h4>
        <p class="list-group-item-text">By 103 runs</p>
      </a>
    </div>
  <!--</div>-->
</div>


  </div>

<div class="row" ng-controller="recordsCtrl" style="margin-left: 2%">

  <div class="col-md-10">

    <!-- List group -->
    <div class="list-group col-lg-4">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Best Batting Score</h4>
        <p class="list-group-item-text">all tournaments</p>
      </a>
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">115</h4>
        <p class="list-group-item-text">Nishant Patel </p>
      </a>
    </div>
    <div class="list-group col-lg-4">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Best Bowling figures</h4>
        <p class="list-group-item-text">all tournaments</p>
      </a>
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">Mayank Ray</h4>
        <p class="list-group-item-text">8-2-14-5</p>
      </a>
    </div>
    <div class="list-group col-lg-4">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Best win margin</h4>
        <p class="list-group-item-text">all tournaments </p>
      </a>
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">Vs RWCC By 103 runs</h4>
        <p class="list-group-item-text">By 103 runs</p>
      </a>
    </div>
    <!--</div>-->
  </div>


</div>

<div class="row" ng-controller="recordsCtrl" style="margin-left: 2%">

    <!-- List group -->
    <div class="list-group col-md-10">
      <a href="#" class="list-group-item active" >

        <h4 class="list-group-item-heading">Season Summary</h4>
        <!--<p class="list-group-item-text">for year</p>-->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </a>
      <a href="#" class="list-group-item ">
        <table class="table">
          <thead>
          <tr>
            <th>Tournament</th>
            <th>Games Played</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Tied</th>
          </tr>
          </thead>
          <tbody>
          <tr class="active">
            <td>MACC -40's</td>
            <td>1</td>
            <td>Anna</td>
            <td>1</td>
            <td>Anna</td>
          </tr>
          <tr>
            <td>MACC -20's</td>
            <td>2</td>
            <td>Debbie</td>
            <td>1</td>
            <td>Anna</td>
          </tr>

          </tbody>
        </table>
      </a>


    <!--</div>-->
  </div>


</div>
