<div class="container-fluid" style="margin-left: 2%">
  <div class="row ">


      <iframe class="col-md-12"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.495198576937!2d-77.4716766846924!3d37.42540487982454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b10e9d4f20d331%3A0x43642a1f56b54eac!2s4216+Beulah+Rd%2C+Richmond%2C+VA+23237!5e0!3m2!1sen!2sus!4v1450929037110"
        frameborder="0" style="border:0"></iframe>

  </div>
  </div>
<div class="container-fluid" style="margin-left: 3%">
  <div class="row">
    <!-- container -->

    <div class="contact-info">
      <h3 class="c-text">Get in Touch</h3>
    </div>

    <div class="contact-grids">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>

      <address>
        <strong>Email us at :</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>

      <div class="clearfix"></div>
      <div class="contact-info">
        <div class="contact-info-text">
          <h3>Miscellaneous information :</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus orci eget fermentum sagittis.
            Nullam non consequat ante, in interdum velit. Sed quis diam orci. Phasellus pulvinar hendrerit enim ut
            placerat.
            Vivamus convallis mollis consectetur. Mauris gravida venenatis vehicula. In tempor enim in iaculis
            imperdiet.
          </p>
        </div>

      </div>
    </div>
  </div>
  <!-- //container -->
</div>
